* {
    margin: auto;
    padding: 0;
    font-family: Roboto;
}
.player {
    background-color: #c4c4c4;
    padding: 20px;
    height: 75%;
    width: 50%;
}
.player__photo {
    background-color: #020202;
    border-radius: 10px;
    margin-left: 240px;
    margin-right: 240px;
    padding-top: 200px;
}
.player__music {
    text-align: center;
    margin-top: 15px;
    margin-left: 220px;
    margin-right: 220px;
}
.player__bar li {
    display: inline-block;
    font-size: 12px;
    padding: 8px;
}
.player__bar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}
.player__progress {
    background: #959595;
    height: 15px;
    border-radius: 50px;
    width: 360px;
}
.player__range {
    background: #020202;
    border-radius: 50px;
    float: left;
    height: 15px;
    width: 0;
}
.player__menu {
    width: 90%;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
}
.player__volume {
    float: left;
    margin-right: 190px;
}
.player__vol {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    transform: scale(5);
    margin-right: 27.5px;
}
.player__options {
    float: right;
    transform: scale(1.5);
}
.player__play {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
}
.player__pause {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
}
.player__prevnext {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
}
.player__playlist {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
}
.player__playlist--open {
    background: #f2f2f2;
    position: absolute;
    padding: 10px;
    padding-right: 20px;
    float: right;
    width: 200px;
    height: 200px;
    z-index: 1;
}
#closePlaylist {
    background: none;
    border: none;
    float: right;
    outline: none;
}
.playlist__musics {
    margin-top: 10px;
    width: 80%;
    height: 20px;
}
.player__upload {
    display: inline-block;
    border: none;
    outline: none;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}
.input[type="file"] {
    display: none;
}
.hidden {
    display: none;
}